{% extends 'base.html' %}


{% block content %}
    {% if profile %}
        <div class="container text-center">
            <div class="row">
                <div class="col-8">
                    <h1>{{ profile.user.username }} Perfil</h1>
                    {% if msgs %}
                      {% for msg in msgs %}
                      <div class="alert alert-dark" role="alert">
                          {{ msg.body }} <br><strong><small>{{ msg.created_at }}</small> </strong> 
                        </div>
                      {% endfor %}
                    {% endif %}
                </div>
                
                <div class="col-4">
                  <br><br>
                    <div class="card mt-2">          
                        <h5 class="card-header">Seguindo</h5>
                        <div class="card-body">
                          <p class="card-text">
                            {% for following in profile.follows.all %}
                                <a href="{% url 'profile' following.user.id %}">@{{ following.user|lower }}</a> <br>
                            {% endfor %}
                          </p>
                        </div>
                    </div>

                    <br><br><br>
                    <div class="card">
                        <h5 class="card-header">Seguidores</h5>
                        <div class="card-body">
                          <p class="card-text">
                            {% for followed in profile.followed_by.all %}
                                <a href="{% url 'profile' followed.user.id %}">@{{ followed.user|lower }}</a> <br>
                            {% endfor %}
                          </p>
                        </div>
                      </div>
                      <br>
                      <form action="" method="post">
                        {% csrf_token %}
                        {% if profile in user.profile.follows.all %}

                          <button class="btn btn-success mt-2" name="follow" value="follow" type="submit" disabled>
                          Seguindo @{{ profile.user.username }} </button>
                           
                          <button class="btn btn-outline-danger mt-2" name="follow" value="unfollow" type="submit">
                            Deixar de seguir @{{ profile.user.username }} </button>
         
                        {% else %}
                        <button class="btn btn-outline-success" name="follow" value="follow" type="submit">
                          Seguir @{{ profile.user.username }} </button>
                        {% endif %}
                      </form>
                      <br>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}